@using DefaultMessager.Domain.ViewModel.AccountModel;
@model LogInAccountViewModel
@{
    ViewData["Title"] = "log in";
}
<h1>@ViewData["Title"]</h1>

<p>welcome</p>
<form method="post" asp-controller="Account" asp-action="LogIn">
    <div asp-validation-summary="All"></div>
    <input asp-for="login" placeholder="login"type="text" />
    <input asp-for="password" placeholder="password"type="text" />
    <button type="submit">send</button>
</form>