html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0px;
}

.post {
    width: 100%;
    height: auto;
    background: #2D2F34;
}

:root {
    color-scheme: dark;
}

.comment-btn {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}
a {
    color: rgb(0, 162, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 162, 255);
    text-decoration: underline;
}