@using DefaultMessager.Domain.ViewModel.AccountModel;
@model IEnumerable<AccountIconViewModel>

@foreach(var acc in Model)
{
    <div class="row bg-secondary">
        <div class="col-md-12">
            <div class="navbar navbar-secondary">
                <a class="navbar-brand">
                    <img src="@acc.PathAvatar.PathAvatar" class="rounded-circle me-1" alt="avatar image" height="42" width="42">
                    <a>@acc.Login</a>
                </a>
            </div>
        </div>
    </div>
}