@model string 
<div class="row">
        <div class="col-md-12">
            <div class="container text-white rounded-pill float-start ms-1 mt-1" style="width: fit-content; background: DimGray;">
                <p class="text-white" style="margin-bottom: 0;">
                    @Model
                </p>
            </div>
        </div>
</div>